input {
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 0 10px;
}

button[type="submit"] {
  padding: 5px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: pink;
  cursor: pointer;
  user-select: none;
}
